@import "tailwindcss";

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

@theme {

  --color-myBlack: #353333;
  --color-myWhite: #e5dcd8;
  --color-myWhiteLight: #e5dcd84a;
  --color-myOrange: #f35c4e;
  
  --font-primary: "Lilita One", "sans-serif";
}

